<% if(locals.user){ %>
    <div id="user-chat-box-<%= locals.user.id %>" class="chat-box">
        <ul id="chat-message-list">

        </ul>
        <div id="chat-message-input-container">
            <input type="text" id="message-input" placeholder="type message...">
            <button type="button" id="send-message">Send</button>
        </div>
    </div>
<% } %>