<li id="comment-<%= post.comments[i]._id %>">
    <p>
        <% if(locals.user && post.comments[i].user.id == locals.user.id){ %>
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%= post.comments[i]._id %>">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </small>
        <% } %>
        <%= post.comments[i].content %>
        <br>
        <small>
            <%= post.comments[i].user.name %>
        </small>
    </p>
</li>