<link rel="stylesheet" type="text/css" href="/css/home.css">
<link rel="stylesheet" type="text/css" href="/css/post.css">
<link rel="stylesheet" type="text/css" href="/css/comment.css">
<div id="home-container">
    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user){ %>
        <form id="new-post-form" method="POST" action="/posts/create">
            <textarea name="content" rows="5" cols="50" placeholder="post something..." required></textarea>
            <input type="submit" value="Post"> 
        </form>
        <% } %>
        <ul id="list-of-posts">
            <% for(post of posts){ %>
                <%- include('_post'); -%>
            <% } %>
        </ul>
    </section>

    <section id="user-friends">
        <h4>Friends</h4>
        <% for(u of all_users){ %>
            <p>
                <a href="/users/profile/<%= u.id %>">
                    <%= u.name %>
                </a>
            </p>
        <% } %>
    </section>
</div>

<script src="/js/home.js"></script>