footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    color: white;
    p{
        margin: 0;
        margin-left: 10px;
    }
    div{
        margin-right: 10px;
        a{
            text-decoration: none;
            color: white;
            padding: 10px;
        }
    }
}