.chat-box {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 1%;
  border: 1px double black;
  border-radius: 15px;
  height: 400px;
  width: 300px;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 3px 3px 10px 2px #662b88; }
  .chat-box #minimize-chat {
    position: absolute;
    right: 1%;
    bottom: 101%; }
  .chat-box h5 {
    position: absolute;
    bottom: 101%;
    left: 1%;
    margin: 0px;
    padding: 0px; }
  .chat-box #chat-message-list {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
    height: 85%;
    width: 100%;
    background-color: #dadada;
    overflow: auto;
    scrollbar-width: none; }
    .chat-box #chat-message-list::-webkit-scrollbar {
      display: none; }
    .chat-box #chat-message-list li {
      margin: 10px 0px; }
    .chat-box #chat-message-list .other-message {
      text-align: left;
      padding-right: 20%; }
      .chat-box #chat-message-list .other-message span {
        display: inline-block;
        padding: 10px;
        border-radius: 0px 0px 0px 15px;
        background-color: #a0acc4; }
    .chat-box #chat-message-list .self-message {
      text-align: right;
      padding-left: 20%; }
      .chat-box #chat-message-list .self-message span {
        display: inline-block;
        padding: 10px;
        border-radius: 0px 0px 15px 0px;
        background-color: #93c0a4; }
  .chat-box #chat-message-input-container {
    width: 100%;
    height: 15%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; }
    .chat-box #chat-message-input-container #message-input {
      height: 90%;
      width: 60%; }
    .chat-box #chat-message-input-container #send-message {
      width: 30%;
      height: 100%;
      font-size: 20px;
      color: white;
      background: #1e851e; }

#maximize-chat {
  margin: 0px;
  position: fixed;
  bottom: 60px;
  right: 2%;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 50%;
  background-color: #add3d1;
  box-shadow: 0px 0px 10px 5px #5bcac5; }
  #maximize-chat:hover {
    background-color: #68d1d1; }
