footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  color: white; }
  footer p {
    margin: 0;
    margin-left: 10px; }
  footer div {
    margin-right: 10px; }
    footer div a {
      text-decoration: none;
      color: white;
      padding: 10px; }
