#sign-in-sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  background-color: #9fd4d4; }
  #sign-in-sign-up-container a {
    color: #55509b;
    margin-left: 40%;
    text-decoration: none; }
